<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indian Banks Rest API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap" rel="stylesheet">

    <style>
        body {
            background: radial-gradient(circle farthest-corner at 11.7% 80.6%, rgba(249, 185, 255, 1) 0%, rgba(177, 172, 255, 1) 49.3%, rgba(98, 203, 255, 1) 89%) no-repeat fixed center;
            font-family: 'Mulish', sans-serif;
        }

        .main-container {
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container-fluid main-container">
        <div class="row justify-content-center h-100 align-items-center pt-5 pb-5">
            <div class="col-12 col-md-6">
                <div class="card rounded shadow-lg">
                    <div class="card-header py-2 pt-4">
                        <h1 class="text-center font-weight-bold">Indian Banks REST API</h1>
                    </div>
                    <div class="card-body p-md-4">
                        <ul>
                            <li class="has-line-data" data-line-start="4" data-line-end="5">List of banks : <a
                                    href="http://indianbanksrestepc.herokuapp.com/banks">http://indianbanksrestepc.herokuapp.com/banks</a>
                            </li>
                            <li class="has-line-data" data-line-start="5" data-line-end="6">List of bank branches : <a
                                    href="http://indianbanksrestepc.herokuapp.com/banks/branches">http://indianbanksrestepc.herokuapp.com/banks/branches</a>
                            </li>
                            <li class="has-line-data" data-line-start="6" data-line-end="7">To search for a bank with
                                ‘id’(not official-provided by the database) : <a
                                    href="http://indianbanksrestepc.herokuapp.com/banks/'id'">http://indianbanksrestepc.herokuapp.com/banks/‘id’</a>
                            </li>
                            <li class="has-line-data" data-line-start="7" data-line-end="8">To search for a bank branch
                                with with IFSC code : <a
                                    href="http://indianbanksrestepc.herokuapp.com/banks/branches/ifsc='ifsc_code'">http://indianbanksrestepc.herokuapp.com/banks/branches/ifsc=‘ifsc_code’</a>
                            </li>
                            <li class="has-line-data" data-line-start="8" data-line-end="10">To search for all the
                                branches of a particular bank in a particular city : <a
                                    href="http://indianbanksrestepc.herokuapp.com/banks/branches/name='bank_name'&amp;city='city_name'">http://indianbanksrestepc.herokuapp.com/banks/branches/name=‘bank_name’&amp;city=‘city_name’</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer p-4">
                        <div class="text-center">
                            <a href="https://github.com/Deepzzz54321/Indian-Banks-REST-EPC" target="_blank"><h1 class="d-inline"><i class="fa fa-github" aria-hidden="true"></i></h1></a>
                            <a href="https://www.linkedin.com/in/eswar-clynn" target="_blank"><h1 class="d-inline ml-4"><i class="fa fa-linkedin-square" aria-hidden="true"></i></h1></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>